@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  font-family:"Montserrat";
  color: #212121;  
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #89CFF0;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #89CFF0;
}
.content {
  align-items: center;
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
}
.links{
  color: #212121
}
.wyzebot-cards {
  padding: 10px 16px;
  border: grey 1.5px solid;
  text-decoration: none;
}
.wyzebot-cards:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.wyzebot-cards h2 {
  font-weight:bolder;
  font-size: 24px;
  color: #89CFF0;
  margin-bottom: 8px;
}
.wyzebot-image{
  height: 90px;
}
.wyzebot-image-details{
  height: 125px;
}
.home{
  width: 80%;
  display: grid;
  grid-template-columns: 40% 40% 40%;
  grid-gap: 3rem;
  grid-auto-flow: row;
  align-content: center;
}
.bot-details h2 {
  font-size: 20px;
  color: #89CFF0;
  margin-bottom: 10px;
}
.bot-details div {
  margin: 20px 0;
}
.bot-details button {
  background: #89CFF0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #89CFF0;
  margin-bottom: 30px;
}
.create input, .create select {
  width: 105%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #89CFF0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.update {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.update label {
  text-align: left;
  display: block;
}
.update h2 {
  font-size: 20px;
  color: #89CFF0;
  margin-bottom: 30px;
}
.update input, .update select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.update button {
  background: #89CFF0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}